@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto.ttf');
}

:root {
    --main-bg-color: #100a16;
    --main-fg-color: #deeed6;
    --main-highlight-color: #346524;
    --main-header-color: #D66163;
    --main-link-color: #859DDB;
    --hover-link-color: #6dc2ca;
    --active-link-color: #dad45e;
    --nested-ul-color: #6daa2c;
    --comment-bg-color: #221e27;
}

html {
    scrollbar-color: var(--main-fg-color) var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color) !important;
    font-family: 'Roboto', 'sans-serif';
}

nav,
main,
footer {
    border: 2px solid var(--main-fg-color);
    border-radius: 1rem;
}

main {
    border-top: none;
    border-bottom: none;
}

nav, main {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

footer, main, #pagination, #comments {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#pagination {
    border-bottom: none;
}

img[src*='berrysprite.png'] {
    float: right;
    padding-right: 1rem;
}

blockquote {
    margin-left: 0;
    padding-left: 1.5rem;
    border-left: 3px solid var(--main-highlight-color);
}

code {
    background-color: var(--main-highlight-color);
    padding: 0.1rem;
    color: var(--main-fg-color);
}

pre:has(code) {
    background-color: var(--main-highlight-color);
}

.lastupdate::after {
    content: " 🍓 ";
}

h1,h2,h3,h4,h5,h6 {
    color: var(--main-header-color) !important;
}

a {
    color: var(--main-link-color) !important;
}

a:hover,
a:focus {
    color:var(--hover-link-color) !important;
}

a:active {
    color: var(--active-link-color) !important;
}

ul li ul,
ol li ul {
    list-style-type: square;
}

ul li ul li::marker,
ol li ul li::marker {
    color: var(--nested-ul-color);
}


#comments-container {
    font-family: Roboto, sans-serif;
    margin: 20px 0;
}

.comment-box {
    border: 2px solid var(--main-fg-color);
    background-color: var(--comment-bg-color);
    border-radius: 0.5rem;
    filter: none;
}

p.comment-text {
    font-size: 18px;
    color: var(--main-fg-color);
}

.comment-meta {
    color: #555;
    font-size: 15px;
}

.comment-avatar {
    border-radius: 1rem;
    margin-right: 1em;
}

.comment-box.comment-host {
    border-left: 10px solid var(--main-header-color);
}

.comment-image {
    
    margin: 1em 0;
    border-radius: 0.5rem;
}

.comment-embedbox {
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
}

.comment-embedbox-thumb {
    border: 2px solid var(--main-fg-color);
    background-color: var(--main-bg-color);
    border-radius: 0.5rem;
}

.comment-repost {
    font-size: 15px;
}